*{
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #12366d;
    padding: 10px 20px;
}
.navbar-logo {
    width: 100px;
    height: auto;
}
.navbar-menu {
    display: flex;
    list-style: none;
}
.navbar-menu li {
    margin-left: 20px;
    list-style-type:none;
}
.navbar-menu a {
    display: block;
    color: white;
    text-decoration: none;
}
.navbar-menu a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.logo {
    width: 200px;
    height: auto;
}
.title {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
}
.subtitle {
    font-size: 24px;
    color: #666666;
}
.edition {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.edition-logo {
    width: 100px;
    height: auto;
}
.edition-info {
    margin-left: 20px;
}
.edition-name {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.edition-desc {
    font-size: 14px;
    color: #666666;
}
.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0099ff;
    color: white;
    text-decoration: none;
}