*{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	font-family: system-ui;
    background-color: rgb(14, 34, 61);
}

#navigasi{
    display: flex;
    justify-content: center;
    background-color: rgb(18, 60, 139);
    position: sticky;
    flex-direction: row;
    box-sizing: border-box;
    width:100%;
}

#navigasi ul{
    margin:0;
    padding:0;
    list-style-type: none;
    overflow: hidden;
}

#navigasi li{
    float:left;
    margin: 9px;
}

#navigasi li a{
    display:block;
    padding: 8px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#navigasi li a:hover{
    text-decoration: underline;
}

#utama p{
    font-weight: 555;
    tab-size: 4;
    max-width: 68in;
}

#utama .deskripsi{
    margin: 4px 2px;
    background-color: rgb(16, 46, 85) ;
    color:white;
    padding: 4px;
    margin: 0;
}

#utama .opsi .tombol-donglod{
    background-color: rgb(11, 108, 173);
    text-decoration: none;
    color:white;
    font-weight: 555;
    padding :12px 20px;
    border-radius: .25em;
    margin: 4px 2px;
}

#utama .opsi .tombol-donglod:hover{
    background-color: rgb(10, 64, 100);
    text-decoration: underline;
}

#utama .opsi .tombol-ngemis{
    background-color: rgb(136, 204, 9);
    text-decoration: none;
    color:white;
    font-weight: 555;
    padding :12px 20px;
    border-radius: .25em;
    margin: 4px 2px;
}

#utama .opsi .tombol-ngemis:hover{
    background-color: rgb(81, 116, 17);
    text-decoration: underline;
}

#fitur {
    
}